<div class="jumbotron center">
<div class="jumbotron">
<h1>Paleo Sweet Tooth</h1>
	<h2>Indulging without the guilt</h2>
	<h5> A community to share your best Paleo treat recipes</h5>
 <%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %>
 <%= link_to "Join in", "#", class: "btn btn-warning btn-lg" %> 
	
</div>