<div class="jumbotron center">
<h1>Coder to Coder</h1>

	<h5> A community for developers to find resources to understand, share, fix, debug, better explain coding issues and learn</h5>
		 <%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %>
		 <%= link_to "Sign up", "#", class: "btn btn-warning btn-lg" %> 
	
</div>
