<div class="jumbotron center">
<div class="jumbotron">
<h1>Paleo Sweet Tooth</h1>
<p>Indulging without the guilt</p>
<p> A community to share your best Paleo treat recipes 
 <%= link_to "Sign in", "#", class: "btn btn-primary btn-lg" %>
 <%= link_to "Join in", "#", class: "btn btn-warning btn-lg" %> </p>
</div>